# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
